* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-image: url("../images/1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
  }
}

.wrapper {
  width: 100%;
  padding: 2rem auto;
  margin: 0 auto;
  cursor: url("../images/dui-trong.png"), auto;
  color: #fff;

  .kick-container,
  .snare-container,
  .clap-container {
    display: flex;
    padding: 1rem 0;

    .kick,
    .snare,
    .clap {
      display: flex;
      align-items: center;
      flex-direction: column;

      button {
        padding: 1.2rem 2rem;
        border: none;
        background-color: #28a745;
        color: #fff;
        border-radius: 1rem;
        cursor: pointer;
      }
    }

    .kick img,
    .snare img,
    .clap img {
      width: 40%;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &.active {
        transform: translateY(20px);
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    width: 1400px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    .kick-container,
    .snare-container,
    .clap-container {
      .kick img,
      .snare img,
      .clap img {
        width: 60%;
        cursor: pointer;
      }
    }
  }
}
